{% extends 'base.html' %}

{% load static %}

{% block title %}
    درباره ما | استوک لپ تاپ استور
{% endblock %}

{% block content %}
    <!-- Start Banner -->
    <section class="bg-shop py-3">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-8 text-white">
                    <h1>درباره ما</h1>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'home/img/about-laptop.svg' %}" alt="About">
                </div>
            </div>
        </div>
    </section>
    <!-- Close Banner -->

    <!-- Start Section -->
    <section class="container py-5">
        <div class="row">
            <div class="col-12 col-md-6">
                <h4 class="my-3 text-end">خرید اینترنتی و اهمیت آن</h4>
                <p><b>مهمترین مزیت و اهمیتی که میتوان برای خرید اینترنتی یادآور شد، خرید بدون نیاز به خارج شدن از منزل است. فروشگاه های اینترنتی موظف به ارائه مشخصات دقیق و کامل از هر محصول میباشند تا خریدار بتواند به طور کامل با محصول آشنا شود. ایجاد امکانات فروش به صورت اینترنتی، قابلیت عودت در ۱۰۰ ساعت اول خرید و ارائه گارانتی از شرکتهای معتبر خدمات پس از فروش را میتوان به عنوان اصلی ترین مزایای این روش از خریداری دانست.</b></p>
            </div>
            <div class="col-12 col-md-6">
                <h4 class="my-3 text-end">امنیت خاطر پرداخت با نماد اعتماد الکترونیکی</h4>
                <p><b>وزارت صنعت، معدن و تجارت برای جلوگیری از سوء استفاده های احتمالی برخی از شرکتها اقدام به ارائه نماد اعتماد الکترونیکی به فروشگاه هایی کرده است که تا به حال تخلفی در فروش و خدمات پس از فروش نداشته اند. همچنین این نماد به صورت دو ستاره تنها به سایت هایی ارائه میشود که دارای گواهی امنیت SSL میباشند.</b></p>
            </div>
        </div>
    </section>
    <!-- End Section -->
{% endblock %}
