{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}
    ارتباط با ما | استوک لپ تاپ استور
{% endblock %}

{% block css_link %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
{% endblock %}

{% block content %}
        <!-- Start Content Page -->
    <div class="container-fluid bg-light pt-5 pb-1">
        <div class="col-md-6 m-auto text-center">
            <h1>ارتباط با ما</h1>
            <p>
                از اینکه استوک لپ تاپ استور را انتخاب کردید از شما ممنونیم.
                <br>
                سعی ما در مجموعه استوک لپ تاپ استور ارائه بهترین خدمات به شما کاربر گرامی است. در صورت وجود هرگونه سوال یا مشکل در خرید از وب سایت می توانید  با شماره تماس های پایین یا آیدی پشتیبانی تلگرام واتساپ ارتباط برقرار کنید. همچنین می توانید مشکلات خود را از طریق فرم زیر برای ما ارسال کنید تا در اولین فرصت به آن رسیدگی شود.
            </p>
            <div class="text-center mt-3">
            <div><a class="text-link text-decoration-none" href="tel:0918-518-8287">0918-518-8287</a></div>
            <div><a class="text-link text-decoration-none" href="tel:0918-874-0812">0918-874-0812</a></div>
            <div><a class="text-link text-decoration-none" href="https://t.me/stoke_laptop_store" target="_blank">پشتیبانی تلگرام</a></div>
            <div><a class="text-link text-decoration-none" href="https://www.linkedin.com/" target="_blank">پشتیبانی واتساپ</a></div>
            </div>
        </div>
        <h6 class="text-center mt-3">بانه، پاساژ سافعی مرکزی، پلاک 118</h6>
    </div>

    <!-- Start Map -->
    <div id="mapid" style="width: 100%; height: 300px;"></div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script>
        var mymap = L.map('mapid').setView([35.99578938249749, 45.88278772766059, 16], 16);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            maxZoom: 18,
            attribution: 'مجموعه استوک لپ تاپ استور',
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1
        }).addTo(mymap);

        L.marker([35.99578938249749, 45.88278772766059, 16]).addTo(mymap)
            .bindPopup("<b>استوک لپ تاپ استور</b>").openPopup();

        mymap.scrollWheelZoom.disable();
        mymap.touchZoom.disable();
    </script>
    <!-- Ena Map -->

    <!-- Start Contact -->
    <div class="container py-5">
        <div class="row py-5">
            <form class="col-md-9 m-auto" action="{% url 'home:contact' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="id_name">نام</label>
                        {% render_field form.name|append_attr:"required:required" type="text" id="id_name" placeholder=" " autocomplete="off" class="form-control mt-1" %}
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="id_email">ایمیل</label>
                        {% render_field form.email|append_attr:"required:required" type="email" id="id_email" placeholder=" " autocomplete="off" class="form-control mt-1" %}
                    </div>
                </div>
                <div class="mb-3">
                    <label for="id_subject">موضوع</label>
                    {% render_field form.subject|append_attr:"required:required" type="text" id="id_subject" placeholder=" " autocomplete="off" class="form-control mt-1" %}
                </div>
                <div class="mb-3">
                    <label for="id_message">متن پیام</label>
                    {% render_field form.message|append_attr:"required:required" id="id_message" placeholder=" " autocomplete="off" class="form-control mt-1" %}
                </div>
                <div class="row">
                    <div class="col text-start mt-2">
                        <button type="submit" class="btn btn-success btn-lg px-3">ارسال</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End Contact -->
{% endblock %}
