{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block title %}
    فروشگاه اینترنتی استوک لپ تاپ استور
{% endblock %}

{% block content %}
    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{% static 'home/img/laptop1.png' %}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 style="color: #7803e2;">استوک لپ‌تاپ استور</h1>
                                <h3 class="h3" style="color: #bc1f69;">بزرگترین مرجع لپ‌تاپ استوک بانه</h3>
                                <p>
                                    واردکننده مستقیم از اروپا و آمریکا با بیش از 16 سال سابقه
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{% static 'home/img/laptop2.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h2 style="color: #3aa0cd;">لپ‌تاپ های اپن‌باکس و استوک</h2>
                                <h3 class="h3">
                                    <b style="color: #a01239;">10 روز</b> مهلت تست بدون قید و شرط
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{% static 'home/img/laptop3.png' %}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h2 style="color: #a01239;">انواع لپتاپ گیمینگ</h2>
                                <h3 class="h3">از برندهای مختلف</h3>
                                <p>
                                    بهترین و ارزان ترین لپ تاپ های مخصوص بازی در بازار ایران
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel"
           role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel"
           role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->

    <!-- Start Featured Product -->
    <section class="discount-section my-5 container">
        <div class="swiper-container container" id="swiper-container1">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="h3 w-75">پیشنهاد شگفت انگیز</h3>
                <div class="d-flex justify-content-between w-25">
                    <i class="fas fa-chevron-right right-slide1 h3" style="color: #fff !important;"></i>
                    <i class="fas fa-chevron-left left-slide1 h3" style="color: #fff !important;"></i>
                </div>
            </div>
            <ul class="swiper-wrapper pb-4">
                {% for product in product_discount %}
                    <li class="swiper-slide">
                        <a href="{{ product.get_absolute_url }}" class="text-dark text-decoration-none card-body p-0">
                            <div class="card product-card h-100 border-0 shadow">
                                <div class="product-card card">
                                    <img class="card-img rounded-0 rounded-top img-fluid m-auto" src="{{ product.cover.url }}">
                                </div>
                                <ul class="list-unstyled d-flex flex-column justify-content-between p-0 my-3">
                                    <li class="text-center discount"><span class="mx-1 px-1 discount-percent">{{ product.discount_percent }}%</span>
                                        {{ product.discount|intcomma }} تومان
                                    </li>
                                    <li class="text-center text-muted text-decoration-line-through price">{{ product.price|intcomma }}</li>
                                </ul>
                            </div>
                        </a>
                    </li>
                {% endfor %}
                <a class="more-detail p-2 text-decoration-none text-black d-flex align-items-end swiper-slide me-1"
                   href="{% url 'product:list' %}?discount=true">
                    <span class="my-auto">مشاهده همه</span><i class="fa fa-arrow-left m-2" aria-hidden="true"></i>
                </a>
            </ul>
        </div>
    </section>
    <!-- End Featured Product -->

    <!-- Start Adds -->
    <section class="my-5 container">
        <div class="row justify-content-around align-items-baseline">
            <a href="" class="col-12 col-lg-6 p-0 adds-item">
                <img src="{% static 'home/img/lap1.jpg' %}" class="shadow-lg img-fluid border rounded">
            </a>
            <a href="" class="col-12 col-lg-6 p-0 adds-item">
                <img src="{% static 'home/img/lap2.jpg' %}" class="shadow-lg img-fluid border rounded">
            </a>
        </div>
    </section>
    <!-- End Adds -->

    <!-- Start Categories of The Month -->
    <section class="mb-5 swiper-products-section">
        <div class="container position-relative">
            <i class="fas fa-chevron-right right-slide2 position-absolute top-50 end-0 h3"
               style="color: #bc1f69 !important; z-index: 2;"></i>
            <div class="py-2 d-flex justify-content-between align-items-baseline">
                <h3 class="h3 w-50 border-bottom pb-2">تازه ترین محصولات</h3>
                <a class="more-detail p-2 text-decoration-none text-black d-flex align-items-end m-0" href="{% url 'product:list' %}?create=جدید+ترین">
                    <span class="m-auto">مشاهده همه </span><i class="fa fa-arrow-left m-2" aria-hidden="true"></i>
                </a>
            </div>
            <div class="swiper-container" id="swiper-container2">
                <ul class="swiper-wrapper">
                    {% for product in product_newest %}
                        <li class="mb-4 swiper-slide">
                        <a href="{{ product.get_absolute_url }}" class="text-dark text-decoration-none">
                            <div class="card product-card h-100 border-0 shadow">
                                <div class="product-card card">
                                    <img class="card-img rounded-0 rounded-top img-fluid" src="{{ product.cover.url }}">
                                    <div class="position-absolute color-list">
                                            {% for color in product.colors.all|slice:':4' %}
                                                <h6 class="btn-color mb-1"
                                                    style="background-color: {{ color.color }};"></h6>
                                            {% endfor %}
                                            {% if product.colors.count > 4 %}
                                                <h6 class="font-weight-bold text-muted"><i class="fa fa-plus-circle"></i></h6>
                                            {% endif %}
                                        </div>
                                </div>
                                <div class="card-body">
                                    <ul class="list-unstyled p-0">
                                        <li class="mb-1 product-title">{{ product.title|truncatewords:6 }}</li>
                                        <li>
                                            {% if product.available %}
                                                <ul class="list-unstyled d-flex flex-column justify-content-between p-0">
                                                    <li class="text-start discount py-2">{{ product.price|intcomma }} تومان</li>
                                                </ul>
                                            {% else %}
                                                <div class="w-100 unavailable">ناموجود</div>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <i class="fas fa-chevron-left left-slide2 position-absolute top-50 start-0 h3"
               style="color: #bc1f69 !important;z-index: 2;"></i>
        </div>
    </section>
    <!-- End Categories of The Month -->

    <!-- Start Featured Product -->
    <section class="mb-5 swiper-products-section view-section">
        <div class="container position-relative">
            <i class="fas fa-chevron-right right-slide3 position-absolute top-50 end-0 h3"
               style="color: #bc1f69 !important; z-index: 2;"></i>
            <div class="py-2 d-flex justify-content-between align-items-baseline">
                <h3 class="h3 w-50 pb-2">پربازدیدترین محصولات</h3>
                <a class="more-detail p-2 text-decoration-none text-black d-flex align-items-end m-0" href="">
                    <span class="m-auto">مشاهده همه </span><i class="fa fa-arrow-left m-2" aria-hidden="true"></i>
                </a>
            </div>
            <div class="swiper-container" id="swiper-container3">
                <ul class="swiper-wrapper">
                    {% for product in product_popular %}
                        <li class="mb-4 swiper-slide">
                        <a href="{{ product.get_absolute_url }}" class="text-dark text-decoration-none">
                            <div class="card product-card h-100 border-0 shadow">
                                <div class="product-card card">
                                    <img class="card-img rounded-0 rounded-top img-fluid" src="{{ product.cover.url }}">
                                    <div class="position-absolute color-list">
                                            {% for color in product.colors.all|slice:':4' %}
                                                <h6 class="btn-color mb-1"
                                                    style="background-color: {{ color.color }};"></h6>
                                            {% endfor %}
                                            {% if product.colors.count > 4 %}
                                                <h6 class="font-weight-bold text-muted"><i class="fa fa-plus-circle"></i></h6>
                                            {% endif %}
                                        </div>
                                </div>
                                <div class="card-body">
                                    <ul class="list-unstyled p-0">
                                        <li class="mb-1 product-title">{{ product.title|truncatewords:6 }}</li>
                                        <li>
                                            {% if product.available %}
                                                <ul class="list-unstyled d-flex flex-column justify-content-between p-0">
                                                    <li class="text-start discount py-2">{{ product.price|intcomma }} تومان</li>
                                                </ul>
                                            {% else %}
                                                <div class="w-100 unavailable">ناموجود</div>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <i class="fas fa-chevron-left left-slide3 position-absolute top-50 start-0 h3"
               style="color: #bc1f69 !important;z-index: 2;"></i>
        </div>
    </section>
    <!-- End Featured Product -->

    <!-- Start Categories of The Papular -->
    <section class="container">
        <div class="text-center pt-4 pb-0">
            <div class="col-lg-6 m-auto">
                <h3 class="h3">محبوب ترین برندها</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for brand in brand_hot %}
                <a href="{% url 'product:list' %}?brand={{ brand.id }}" class="text-dark text-decoration-none brands col-6 col-lg-2 col-sm-4 p-5">
                    <img src="{{ brand.cover.url }}" class="rounded-circle img-fluid border">
                    <h5 class="text-center mt-3 mb-3">{{ brand.name }}</h5>
                </a>
            {% endfor %}
        </div>
    </section>
    <!-- End Categories of The Papular -->
{% endblock %}
