{% extends 'base.html' %}

{% load static %}

{% block title %}
    قوانین و مقررات
{% endblock %}

{% block content %}
    <section class="py-5">
        <div class="container">
            <div class="py-5">
                <h2 class="text-center">قوانین و مقررات</h2>
                <div class="m-3 mt-5">
                    <h5 class="me-4">خرید کالا</h5>
                    <ol>
                        <li class="mb-3"><b>ارسال کالا یک روز پس از ثبت سفارش صورت گرفته و زمان تحویل آن به مشتری بین یک تا پنج روز کاری از زمان ارسال خواهد بود.</b></li>
                        <li class="mb-3"><b>کلیه محصولات خریداری شده دارای 10 روز ضمانت بازگشت کالا (در صورت مشکل سخت افزاری و مغایرت بی قید و شرط) می باشند.</b></li>
                        <li class="mb-3"><b>هزینه ارسال به صورت پسکرایه می باشد.</b></li>
                        <li class="mb-3"><b>ارسال کالا در روز کاری بعدی صورت می پذیرد و امکان ارسال کالا در همان روز وجود ندارد.</b></li>
                        <li class="mb-3"><b>ارسال سفارشات توسط پست، تیپاکس، چاپار و باربری (متناسب با شهر مقصد و مبلغ سفارش) با انتخاب مشتری صورت می پذیرد.</b></li>
                    </ol>
                </div>
                <div class="m-3 mt-5">
                    <h5 class="me-4">شرایط بازگشت کالا و توضیحات تکمیلی</h5>
                    <ol>
                        <li class="mb-3"><b>در صورتی که کالا دارای مشکل سخت افزاری بوده و یا مشخصات کالای ارسال شده با مشخصات مندرج در سایت و فاکتور مغایرت داشته باشد، مشتری محترم می تواند ظرف مدت 10 روز از تاریخ تحویل کالا، آن را بازگشت دهد. (این 10 روز به صورت کاری محاسبه نمی گردد).</b></li>
                        <li class="mb-3"><b>در این مدت 10 روزه اگر لپ تاپ دارای ایراد سخت افزاری بوده و یا مغایرتی در سفارش وجود داشته باشد امکان بازگرداندن محصول وجود دارد و در این حالت محصول تعویض و مجددا برای شما ارسال خواهد شد</b></li>
                        <li class="mb-3"><b>امکان لغو سفارش به دلیل انصراف تا زمانی که سفارش شما ارسال نشده وجود دارد. پس از تحویل مرسوله به پست به هیچ وجه این امکان برای شما وجود نخواهد داشت.</b></li>
                        <li class="mb-3"><b>هزینه حمل بازگشت کالا و ارسال کالای جایگزین به عهده مشتریان گرامی می باشد.</b></li>
                        <li class="mb-3"><b>ایرادات فیزیکی مانند شکستگی، ضربه، خط و خش و… شامل ضمانت بازگشت کالا نمی باشد پس در زمان تحویل کالا به بسته بندی و محتویات داخل آن دقت نمائید. لطفا در هنگام جعبه گشایی از سفارش خود فیلم تهیه نمایید تا اگر سفارش در حین نقل و انتقال آسیب دیده بود از طریق فیلم قابل اثبات باشد (در غیر این صورت امکان مرجوعی کالا با مشکل فیزیکی و ظاهری وجود ندارد).</b></li>
                        <li class="mb-3"><b>ملاک مغایرت موارد مندرج در جدول مشخصات می باشد و مواردی همچون زبان صفحه کلید، وات شارژر و… که در جدول مشخصات نیز قید نشده از موارد مغایرت نمی باشد. (تصاویر از سایت سازنده برداشت شده و مغایرت در زبان، رنگ، نور صفحه کلید و … با توجه به پارتهای مختلف متفاوت است).</b></li>
                        <li class="mb-3"><b>تا 3 پیکسل سوخته شامل ضمانت بازگشت کالا نمی شود.</b></li>
                        <li class="mb-3"><b>یرادات نرم افزاری و استفاده نادرست از دستگاه شامل ضمانت بازگشت کالا نمی شود.</b></li>
                        <li class="mb-3"><b>وجه بازگشتی به مشتریان گرامی تنها به حساب شخصی که سفارش را ثبت کرده و با ارائه کد ملی انجام می پذیرد.</b></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
