@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }

    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }

    .card-registration .select-arrow {
    top: 13px;
    }

    .bg-grey {
    background-color: #eae8e8;
    }

    @media (min-width: 992px) {
    .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }

    @media (max-width: 991px) {
    .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }


.order-head {color: #bc1f69 !important;}

.no-arrow {
    -moz-appearance: textfield;
}

.no-arrow::-webkit-inner-spin-button {
    display: none;
}

.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form input:focus, form textarea:focus {
    outline: none !important;
    border: 1px rgba(188, 31, 105, .2) solid !important;
    box-shadow: 0 0 3px #7803e280 !important;
}

.asteriskField {
    color: #bc1f69 !important;
}

.input-group input {
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}
.input-group button {
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
}

.table-factor div , .pre-factor div {font-size: 13px !important;}

.ref-id {color: #bc1f69;}

.table-factor {overflow: auto;}
