{% extends 'registration/base_registration.html' %}

{% load widget_tweaks %}

{% block r_title %}
    <title>ورود به سایت | استوک لپ تاپ استور</title>
{% endblock %}

{% block r_content %}
    <div class="login-form">
        <form action="" method="post">
            {% csrf_token %}
            <h2>ورود به استوک لپ تاپ استور</h2>
            <div class="form-input-material">
                {% render_field form.phone_number|append_attr:"required:required" oninput="javascript: if (this.value.length > 11) this.value = this.value.slice(0, 11);" type="number" id="phone_number" placeholder=" " autocomplete="off" class="no-arrow form-control-material" %}
                <label for="phone_number">شماره موبایل</label>
            </div>
            {% for error in form.username.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            <button type="submit" class="btn btn-ghost"><h6>ارسال کد تائید</h6></button>
        </form>
        <a href="{% url 'accounts:login' %}" class="otp-code-link">ورود با گذرواژه</a>
    </div>
{% endblock %}