{% extends 'registration/base_registration.html' %}

{% load widget_tweaks %}

{% block r_title %}
    بازیابی گذرواژه | استوک لپ تاپ استور
{% endblock %}

{% block r_content %}
    <div class="login-form">
        <form action="" method="post">
            {% csrf_token %}
            <h2>بازیابی گذرواژه</h2>
            <div class="form-input-material">
                {% render_field form.phone_number|append_attr:"required:required" type="number" id="phone_number" placeholder=" " autocomplete="off" class="no-arrow form-control-material" %}
                <label for="phone_number">شماره موبایل</label>
            </div>
            {% for error in form.phone_number.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            <button type="submit" class="btn btn-ghost"><h6>ارسال لینک بازیابی</h6></button>
        </form>
    </div>
{% endblock %}