{% extends 'registration/base_registration.html' %}

{% load widget_tweaks %}

{% block r_title %}
    <title>تغییر رمز عبور | استوک لپ تاپ استور</title>
{% endblock %}

{% block r_content %}
    <div class="login-form">
        <form action="" method="post">
            {% csrf_token %}
            <h2>تغییر رمز عبور</h2>
            <div class="form-input-material">
                {% render_field form.new_password1|append_attr:"required:required" type="password" id="password" placeholder=" " autocomplete="off" class="form-control-material" %}
                <label for="password">گذر واژه</label>
            </div>
            {% for error in form.username.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            <div class="form-input-material">
                {% render_field form.new_password2|append_attr:"required:required" type="password" id="password_confirm" placeholder=" " autocomplete="off" class="form-control-material" %}
                <label for="password_confirm">تائید گذر واژه</label>
            </div>
            {% for error in form.username.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            <button type="submit" class="btn btn-ghost"><h6>تغییر رمز</h6></button>
        </form>
    </div>
{% endblock %}