{% extends 'registration/base_registration.html' %}

{% load widget_tweaks %}

{% block r_title %}
    <title>ثبت نام در سایت | استوک لپ تاپ استور</title>
{% endblock %}

{% block r_content %}
    <div class="login-form">
        <form action="" method="post">
            {% csrf_token %}
            <h2>ثبت نام در استوک لپ تاپ استور</h2>
            <div class="form-input-material">
                {% render_field form.phone_number|append_attr:"required:required" type="number" id="phone_number" placeholder=" " autocomplete="off" class="no-arrow form-control-material" %}
                <label for="phone_number">شماره موبایل</label>
            </div>
            {% for error in form.username.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            <div class="form-input-material">
                {% render_field form.username|append_attr:"required:required" type="text" id="username" placeholder=" " autocomplete="off" class="form-control-material" %}
                <label for="username">نام کاربری</label>
            </div>
            {% for error in form.username.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            <div class="form-input-material">
                {% render_field form.password1|append_attr:"required:required" type="password" id="password" placeholder=" " autocomplete="off" class="form-control-material" %}
                <label for="password">گذر واژه</label>
            </div>
            {% for error in form.username.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            <div class="form-input-material">
                {% render_field form.password2|append_attr:"required:required" type="password" id="password_confirm" placeholder=" " autocomplete="off" class="form-control-material" %}
                <label for="password_confirm">تائید گذر واژه</label>
            </div>
            {% for error in form.username.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            <button type="submit" class="btn btn-ghost"><h6>ارسال کد تائید</h6></button>
        </form>
        <p class="login-register">قبلا ثبت نام کرده اید؟ <a href="{% url 'accounts:login' %}" class="login-register-link">ورود</a></p>
    </div>
{% endblock %}