
<div class="shop-dropdown nav-item dropdown position-static">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href=""> دسته بندی
        محصولات </a>
    <div class="shop-dropdown-menu dropdown-menu dropdown-menu-end w-100 py-4 pe-3 border-0">
        <form action="">
            <ul class="row list-unstyled px-3 text-end">
                <li class="col-12 col-lg-2 p-0">
                    <p class="dropdown-item-header">براساس شرکت سازنده</p>
                    <ul class="list-unstyled p-0">
                        {% for brand in brands %}
                            <li class="dropdown-item-link"><a href="{% url 'product:list' %}?br={{ brand.id }}">لپ تاپ {{ brand.name|title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="col-12 col-lg-2 p-0">
                    <p class="dropdown-item-header">براساس گرید</p>
                    <ul class="list-unstyled p-0">
                        <li class="dropdown-item-link"><a href="{% url 'product:list' %}?gr=n">لپ تاپ آکبند</a></li>
                        <li class="dropdown-item-link"><a href="{% url 'product:list' %}?gr=o">لپ تاپ اپن باکس</a></li>
                        <li class="dropdown-item-link"><a href="{% url 'product:list' %}?gr=s">لپ تاپ استوک</a></li>
                    </ul>
                </li>
                <li class="col-12 col-lg-2 p-0">
                    <p class="dropdown-item-header">براساس قیمت</p>
                    <ul class="list-unstyled p-0">
                        <li class="dropdown-item-link"><a href="{% url 'product:list' %}?pl=10000000">لپ تاپ تا 10 میلیون</a></li>
                        <li class="dropdown-item-link"><a href="{% url 'product:list' %}?pl=20000000">لپ تاپ تا 20 میلیون</a></li>
                        <li class="dropdown-item-link"><a href="{% url 'product:list' %}?pl=30000000">لپ تاپ تا 30 میلیون</a></li>
                        <li class="dropdown-item-link"><a href="{% url 'product:list' %}?pl=40000000">لپ تاپ تا 40 میلیون</a></li>
                        <li class="dropdown-item-link"><a href="{% url 'product:list' %}?pl=50000000">لپ تاپ تا 50 میلیون</a></li>
                        <li class="dropdown-item-link"><a href="{% url 'product:list' %}?pg=50000000">لپ تاپ بالای 50 میلیون</a></li>
                    </ul>
                </li>
                <li class="col-12 col-lg-2 p-0">
                    <p class="dropdown-item-header">براساس کاربری</p>
                    <ul class="list-unstyled p-0">
                        {% for category in categories %}
                            <li class="dropdown-item-link"><a href="{% url 'product:list' %}?ca={{ category.id }}">لپ تاپ {{ category.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="col-12 col-lg-2 p-0">
                    <p class="dropdown-item-header">براساس پردازنده</p>
                    <ul class="list-unstyled p-0">
                        {% for cpu in cpu_series %}
                            <li class="dropdown-item-link"><a href="{% url 'product:list' %}?cs={{ cpu.id }}">پردازنده {{ cpu.series|title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="col-12 col-lg-2 p-0">
                    <p class="dropdown-item-header">براساس پردازنده گرافیکی</p>
                    <ul class="list-unstyled p-0">
                        {% for gpu in gpu_makers %}
                            <li class="dropdown-item-link"><a href="{% url 'product:list' %}?gm={{ gpu.id }}">{{ gpu.maker|title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </form>
    </div>
</div>