{% load static %}

{% load base_tags %}
{% load humanize %}

<!DOCTYPE html>
<html lang="fa">

<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="{% static 'base/img/stoke_laptop_center.jpg' %}" type="image/x-icon"/>

    <!-- CSS only -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'base/css/templatemo.css' %}">

    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">

    {% block css_link %}

    {% endblock %}

</head>

<body>
{% include 'includes/messages.html' %}
<!-- Start Top Nav -->
<nav class="top-header navbar navbar-expand-lg navbar-light d-none d-lg-block" id="templatemo_nav_top">
    <div class="container text-light">
        <div class="w-100 d-flex justify-content-between">
            <div>
                <a class="navbar-sm-brand text-light text-decoration-none mx-1"
                   href="tel:0918-518-8287">0918-518-8287</a> |
                <a class="navbar-sm-brand text-light text-decoration-none mx-1" href="tel:0918-874-0812">0918-874-0812</a>
                <i class="fa fa-phone mx-2"></i>
            </div>
            <div>
                <a class="text-light" href="https://www.instagram.com/stoke_laptop_store" target="_blank"><i
                        class="fab fa-instagram fa-sm fa-fw me-3"></i></a>
                <a class="text-light" href="https://t.me/stoke_laptop_store" target="_blank"><i
                        class="fab fa-telegram fa-sm fa-fw me-3"></i></a>
                <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i
                        class="fab fa-whatsapp fa-sm fa-fw me-3"></i></a>
            </div>
        </div>
    </div>
</nav>
<!-- Close Top Nav -->

<!-- Header -->
<nav class="header navbar navbar-expand-lg navbar-light shadow p-0">
    <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand text-success h1 align-self-center m-0" href="{% url 'home:home' %}">
            <img class="logo" src="{% static 'base/img/stoke_laptop_center.jpg' %}" alt="Stoke Laptop Store"
                 style="font-size: 1rem">
        </a>

        <div class="align-self-center flex-fill d-lg-flex justify-content-lg-between offcanvas offcanvas-start"
             tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
            <div class="d-block d-lg-none d-flex justify-content-between align-items-center mb-4 mx-3">
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
                <h5 class="m-0 text-link">استوک لپ تاپ استور</h5>
            </div>
            <div class="flex-fill position-relative">
                <ul class="nav navbar-nav d-flex justify-content-around p-0 mx-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home:home' %}">صفحه اصلی</a>
                    </li>
                    <li class="nav-item">
                        {% navbar_list %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'product:list' %}">فروشگاه</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home:about' %}">درباره ما</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home:contact' %}">ارتباط با ما</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navbar align-self-center d-flex">
            <a class="nav-icon m-0" href="#" data-bs-toggle="modal"
               data-bs-target="#templatemo_search">
                <i class="fa fa-fw fa-search text-dark mr-2"></i>
            </a>
            {% if user.is_authenticated %}
                <div class="profile-dropdown dropdown position-relative me-4">
                    <a class="nav-icon text-decoration-none" id="profileDropdownMenuLink"
                       data-bs-toggle="dropdown">
                        <i class="fa fa-user"></i>
                    </a>
                    <div class="profile-dropdown-menu dropdown-menu dropdown-menu-end mt-1 border-0 p-0"
                         aria-labelledby="profileDropdownMenuLink">
                        <ul class="list-group p-0 border-0">
                            <li class="border-0 border-bottom list-group-item text-end profile-nav-link"><a class="text-decoration-none text-black d-flex" href="{% url 'accounts:profile' %}"><i class="fa fa-user-circle"></i><h6 class="me-2 mb-0">مشاهده پروفایل</h6></a></li>
                            <li class="border-0 border-bottom list-group-item text-end profile-nav-link"><a class="text-decoration-none text-black d-flex" href="{% url 'accounts:password-change' %}"><i class="fa fa-key"></i><h6 class="me-2 mb-0">تغییر گذرواژه</h6></a></li>
                            <li class="border-0 list-group-item text-end profile-nav-link"><a class="text-decoration-none text-black d-flex" href="{% url 'accounts:logout' %}{% if not request.path == '/accounts/profile/' %}?next={{ request.path }}{% endif %}"><i class="fas fa-sign-out-alt"></i><h6 class="me-2 mb-0">خروج از حساب</h6></a></li>
                        </ul>
                    </div>
                </div>
            {% else %}
                <div class="d-flex align-items-center p-1 rounded border me-4">
                    <a class="nav-icon text-decoration-none text-link me-1"
                       href="{% url 'accounts:login' %}">
                        <h6 class="m-0">ورود | </h6>
                    </a>
                    <a class="nav-icon text-decoration-none text-link me-1" href="{% url 'accounts:register' %}">
                        <h6 class="m-0 badge badge-link"> ثبت نام</h6>
                    </a>
                </div>
            {% endif %}
            {% if cart|length != 0 %}
                <div class="basket-dropdown dropdown position-relative pe-4">
                    <a class="nav-icon text-decoration-none" id="basketDropdownMenuLink"
                       data-bs-toggle="dropdown">
                        <span class="position-absolute translate-middle badge text-dark cart-span">{{ cart|length }}</span>
                        <i class="fa fa-fw fa-cart-arrow-down mr-1"></i>
                    </a>
                    <div class="basket-dropdown-menu dropdown-menu dropdown-menu-end mt-1 py-2 px-3 border-0"
                         aria-labelledby="basketDropdownMenuLink">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-between mb-2">
                                <div><span class="text-muted">{{ cart|length }} کالا</span></div>
                                <div><a class="text-link text-decoration-none" href="{% url 'orders:cart' %}"><h6>
                                    مشاهده
                                    سبد خرید</h6></a></div>
                            </div>
                            <div class="col-12 basket-card">
                                {% for item in cart %}
                                    <div class="row">
                                        <div class="col-12 row">
                                            <a class="col-6"
                                               href="{% url 'product:detail' item.color.product.slug %}"><img
                                                    class="img-fluid rounded-3"
                                                    src="{{ item.color.product.cover.url }}"
                                                    alt="{{ item.color.product.title }}"></a>
                                            <div class="col-6">
                                                <h6 class="text-black text-end">{{ item.color.product.title|truncatewords:10 }}</h6>
                                                <div class="d-flex align-items-center mt-4">
                                                    <div>
                                                        <h6 class="btn-color"
                                                            style="background-color: {{ item.color.color }};"></h6>
                                                    </div>
                                                    <div class="mx-2"><h6
                                                            class="text-muted">{{ item.color.title }}</h6></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 row align-items-center">
                                            <div class="col-6 text-center">
                                                <a class="btn btn-buy px-1 py-0 m-1"
                                                   href="{% url 'orders:cart-decrease' item.color.id %}"
                                                   onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                                    <i class="fas fa-minus"></i>
                                                </a>
                                                <span class="btn bg-secondary m-1 text-light">{{ item.quantity }}</span>
                                                <a class="btn btn-buy px-1 py-0 m-1"
                                                   href="{% url 'orders:cart-increase' item.color.id %}"
                                                   onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                                    <i class="fas fa-plus"></i>
                                                </a>
                                            </div>
                                            <div class="col-6 text-dark m-0">
                                                <h6>{{ item.total_price|intcomma }} تومان</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                {% endfor %}
                            </div>
                            <div class="col-12 d-flex justify-content-between align-items-center mt-3">
                                <div class="text-muted text-end">
                                    <h6>مبلغ قابل پرداخت</h6>
                                    <h6>{{ cart.get_total_price|intcomma }} تومان</h6>
                                </div>
                                <div>
                                    {% if user.is_authenticated %}
                                        <a href="{% url 'orders:order-create' %}" class="btn btn-buy btn-lg"
                                           data-mdb-ripple-color="dark">ثبت سفارش
                                        </a>
                                    {% else %}
                                        <a href="{% url 'orders:order-create' %}" class="btn btn-buy btn-lg"
                                           data-mdb-ripple-color="dark">ورود و ثبت سفارش
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <a class="nav-icon me-4" href="{% url 'orders:cart' %}">
                    <i class="fa fa-fw fa-cart-arrow-down mr-1"></i>
                </a>
            {% endif %}
        </div>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu"
                aria-controls="offcanvasMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>
</nav>
<!-- Close Header -->

<!-- Modal -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg position-relative" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="search-form" class="mb-2 modal-content modal-body border-0 p-0 position-static" role="search"
              action="{% url 'product:search-list' %}" method="get">
            <input id="search-input" class="form-control rounded-2" type="text" name="search"
                   placeholder="محصول موردنظر را جستجو کنید">
            <button type="submit" class="position-absolute border-0 my-3 d-none start-0" id="search-button">مشاهده همه
                موارد
            </button>
        </form>
        <ul class="mt-0 list-group d-none p-0 modal-content modal-body border-0"
            id="results-box">
        </ul>
    </div>
</div>


{% block content %}

{% endblock %}

<!-- Start Footer -->
<footer id="tempaltemo_footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-8 col-sm-8 col-12 pt-5">
                <a href="{% url 'home:home' %}" class="text-decoration-none"><h3 class="h3 pb-2 border-light rounded-0 text-link">استوک لپ‌تاپ استور</h3></a>
                <ul class="list-unstyled text-light footer-link-list p-0">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        بانه، پاساژ شافعی مرکزی، پلاک 118
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="tel:0918-518-8287" style="font-size: .9rem !important;">0918-518-8287</a>
                        |
                        <a class="text-decoration-none" href="tel:0918-874-0812" style="font-size: .9rem !important;">0918-874-0812</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="mailto:info@company.com">info@company.com</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 pt-5">
                <h5 class="text-light pb-2 border-light">دسترسی سریع</h5>
                <ul class="list-unstyled text-light footer-link-list px-3">
                    <li><a  class="text-decoration-none" href="{% url 'product:list' %}">فروشگاه</a></li>
                    <li><a  class="text-decoration-none" href="{% url 'product:list' %}?grade=n">لپ تاپ آکبند</a></li>
                    <li><a  class="text-decoration-none" href="{% url 'product:list' %}?grade=o">لپ تاپ اپن باکس</a></li>
                    <li><a  class="text-decoration-none" href="{% url 'product:list' %}?grade=s">لپ تاپ استوک</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 pt-5">
                <h5 class="text-light pb-2 border-light">لینک های مفید</h5>
                <ul class="list-unstyled text-light footer-link-list px-3">
                    <li><a class="text-decoration-none" href="{% url 'home:about' %}">درباره ما</a></li>
                    <li><a class="text-decoration-none" href="{% url 'home:contact' %}">ارتباط با ما</a></li>
                    <li><a class="text-decoration-none" href="{% url 'home:term' %}">قوانین و مقررات</a></li>
                    <li><a class="text-decoration-none" href="{% url 'home:faq' %}">سوالات متداول</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-8 col-sm-8 col-12 pt-5">
                <h5 class="text-light pb-2 border-light">نشان اعتماد</h5>
                <ul class="list-unstyled text-light footer-link-list px-3">
                    <li><a class="text-decoration-none" href="#"><img src="" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto m-auto">
                <h5>ما را در شبکه های اجتماعی دنبال کنید</h5>
                <ul class="list-inline footer-icons text-center p-0">
                    <li class="list-inline-item border border-light rounded-circle text-center m-1">
                        <a class="text-light text-decoration-none" target="_blank"
                           href="https://www.instagram.com/stoke_laptop_store"><i
                                class="fab fa-instagram fa-lg fa-fw" style="vertical-align: -0.2rem;"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center m-1">
                        <a class="text-light text-decoration-none" target="_blank"
                           href="https://www.instagram.com/stoke_laptop_store"><i
                                class="fab fa-telegram fa-lg fa-fw" style="vertical-align: -0.2rem;"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center m-1">
                        <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i
                                class="fab fa-whatsapp fa-lg fa-fw" style="vertical-align: -0.2rem;"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-center text-light">
                        کپی رایت &copy; تمامی حقوق این وبسایت برای فروشگاه استوک لپ‌تاپ استور محفوظ است.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<!-- Start Script -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity=" sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="{% static 'base/js/jquery-1.11.0.min.js' %}"></script>
<script type="module" src="{% static 'base/js/templatemo.js' %}"></script>

<script>
    const searchForm = document.getElementById('search-form')
    const searchInput = document.getElementById('search-input')
    const searchButton = document.getElementById('search-button')
    const resultsBox = document.getElementById('results-box')
    const sendSearchData = (product) => {
        $.ajax({
            type: 'GET',
            url: "{% url 'product:search' %}",
            data: {
                'product': product,
            },
            success: (res) => {
                const data = res.data
                if (Array.isArray(data)) {
                    resultsBox.innerHTML = ""
                    searchButton.classList.remove('d-none')
                    data.forEach(product => {
                        resultsBox.innerHTML += `<li class="list-group-item border-0">
                    <a class="row text-dark text-decoration-none" href="{% url 'product:list' %}${product.slug}/%5CZ">
                        <img class="col-2" src="${product.cover}" alt="${product.title}">
                        <h6 class="col-8 my-auto">${product.title}</h6>
                    </a>
                </li>
                <hr class="mt-0"/>`
                    })
                } else {
                    if (searchInput.value.length > 0) {
                        resultsBox.innerHTML = `<h6 class="text-center my-auto py-5">${data}</h6>`
                        if (data === 'محصول موردنظر یافت نشد ...') {
                            searchButton.classList.add('d-none')
                        }
                    } else {
                        searchButton.classList.add('d-none')
                        resultsBox.classList.add('d-none')
                    }
                }
            },
            error: (err) => {
                console.log(err)
            }
        })
    }
    searchInput.addEventListener('keyup', e => {
        if (resultsBox.classList.contains('d-none')) {
            resultsBox.classList.remove('d-none')
        }
        sendSearchData(e.target.value)
    })
</script>
<script>
    const one_star = document.getElementById('1star')
const two_star = document.getElementById('2star')
const three_star = document.getElementById('3star')
const four_star = document.getElementById('4star')
const five_star = document.getElementById('5star')

const handleSelect = (selection) => {
    switch (selection) {
        case '1star': {
            one_star.classList.add('text-warning')
            two_star.classList.remove('text-warning')
            three_star.classList.remove('text-warning')
            four_star.classList.remove('text-warning')
            five_star.classList.remove('text-warning')
            return
        }
        case '2star': {
            one_star.classList.add('text-warning')
            two_star.classList.add('text-warning')
            three_star.classList.remove('text-warning')
            four_star.classList.remove('text-warning')
            five_star.classList.remove('text-warning')
            return
        }
        case '3star': {
            one_star.classList.add('text-warning')
            two_star.classList.add('text-warning')
            three_star.classList.add('text-warning')
            four_star.classList.remove('text-warning')
            five_star.classList.remove('text-warning')
            return
        }
        case '4star': {
            one_star.classList.add('text-warning')
            two_star.classList.add('text-warning')
            three_star.classList.add('text-warning')
            four_star.classList.add('text-warning')
            five_star.classList.remove('text-warning')
            return
        }
        case '5star': {
            one_star.classList.add('text-warning')
            two_star.classList.add('text-warning')
            three_star.classList.add('text-warning')
            four_star.classList.add('text-warning')
            five_star.classList.add('text-warning')
            return
        }
    }
}
const arr = [one_star, two_star, three_star, four_star, five_star]
arr.forEach(item => item.addEventListener('mouseover', (event) => {
    handleSelect(event.target.id)
}))


window.onload = function () {
    slideOne();
    slideTwo();
}

let sliderOne = document.getElementById("slider-1");
let sliderTwo = document.getElementById("slider-2");
let displayValOne = document.getElementById("range1");
let displayValTwo = document.getElementById("range2");
let minGap = 0;
let sliderTrack = document.querySelector(".slider-track");
let sliderMaxValue = document.getElementById("slider-1").max;

function slideOne() {
    if (parseInt(sliderTwo.value) - parseInt(sliderOne.value) <= minGap) {
        sliderOne.value = parseInt(sliderTwo.value) - minGap;
    }
    displayValOne.textContent = sliderOne.value;
    fillColor();
}

function slideTwo() {
    if (parseInt(sliderTwo.value) - parseInt(sliderOne.value) <= minGap) {
        sliderTwo.value = parseInt(sliderOne.value) + minGap;
    }
    displayValTwo.textContent = sliderTwo.value;
    fillColor();
}

function fillColor() {
    const percent1 = (sliderOne.value / sliderMaxValue) * 100;
    const percent2 = (sliderTwo.value / sliderMaxValue) * 100;
    sliderTrack.style.background = `linear-gradient(to right, #dadae5 ${percent1}% , #bc1f69 ${percent1}% , #bc1f69 ${percent2}%, #dadae5 ${percent2}%)`;
}


</script>
<!-- End Script -->
</body>

</html>