{% load static %}

<!DOCTYPE html>
<html lang="fa">

<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'base/img/stoke_laptop_center.jpg' %}" type="image/x-icon"/>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'products/css/templatemo.css' %}">

    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">

    <!-- Load fonts style after rendering the layout styles -->
    {#    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">#}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    {#    <link rel="stylesheet" href="{% static 'products/css/fontawesome.min.css' %}">#}
</head>

<body>
<!-- Start Top Nav -->
<nav class="top-header navbar navbar-expand-lg navbar-light d-none d-lg-block" id="templatemo_nav_top">
    <div class="container text-light">
        <div class="w-100 d-flex justify-content-between">
            <div>
                <a class="navbar-sm-brand text-light text-decoration-none mx-1"
                   href="tel:0918-518-8287">0918-518-8287</a> |
                <a class="navbar-sm-brand text-light text-decoration-none mx-1"
                   href="tel:0918-874-0812">0918-874-0812</a>
                <i class="fa fa-phone mx-2"></i>
            </div>
            <div>
                <a class="text-light" href="https://www.instagram.com/stoke_laptop_store" target="_blank"><i
                        class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://t.me/stoke_laptop_store" target="_blank"><i
                        class="fab fa-telegram fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i
                        class="fab fa-whatsapp fa-sm fa-fw me-2"></i></a>
            </div>
        </div>
    </div>
</nav>
<!-- Close Top Nav -->

<!-- Header -->
<nav class="header navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand text-success h1 align-self-center" href="index.html">
            <img class="logo" src="{% static 'base/img/stoke_laptop_center.jpg' %}" alt="Stoke Laptop Store"
                 style="font-size: 1rem">
        </a>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
             id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html"><i class="fas fa-bars"></i> دسته بندی محصولات <i
                                class="fa fa-caret-down" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'product:list' %}">فروشگاه</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">لپ‌تاپ آکبند</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="shop.html">لپ‌تاپ اپن‌باکس</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">لپ‌تاپ استوک</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">رده کاری <i class="fa fa-caret-down"
                                                                            aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <div class="navbar align-self-center d-flex">
                <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                        <div class="input-group-text">
                            <i class="fa fa-fw fa-search"></i>
                        </div>
                    </div>
                </div>
                <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal"
                   data-bs-target="#templatemo_search">
                    <i class="fa fa-fw fa-search text-dark mr-2"></i>
                </a>
                <a class="nav-icon position-relative text-decoration-none" href="#">
                    <i class="fa fa-fw fa-user text-dark mr-3"></i>
                </a>
                <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-placement="bottom"
                      data-bs-trigger="hover focus" data-bs-content="250,000,000 تومان">
                        <a class="nav-icon position-relative text-decoration-none" href="#">
                            <span class="position-absolute translate-middle badge bg-light text-dark">7</span>
                            <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                        </a>
                </span>
            </div>
        </div>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<!-- Close Header -->

<!-- Modal -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2 search-form">
                <input type="text" class="form-control rounded-2" id="inputModalSearch" name="q"
                       placeholder="Search ...">
                <button type="submit" class="input-group-text bg-success text-light rounded-2">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>
{#Close Modal#}

{% block content %}

{% endblock %}

<!-- Start Footer -->
<footer id="tempaltemo_footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-12 pt-5">
                <h3 class="h3 pb-3 border-light rounded-0 logo">استوک لپ‌تاپ استور</h3>
                <ul class="list-unstyled text-light footer-link-list px-2">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        بانه، پاساژ شافعی مرکزی، پلاک 118
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="tel:0918-518-8287" style="font-size: .9rem !important;">0918-518-8287</a>
                        |
                        <a class="text-decoration-none" href="tel:0918-874-0812" style="font-size: .9rem !important;">0918-874-0812</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="mailto:info@company.com">info@company.com</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-12 pt-5">
                <h3 class="h3 text-light pb-3 border-light">دسترسی سریع</h3>
                <ul class="list-unstyled text-light footer-link-list px-3">
                    <li><a class="text-decoration-none" href="#">لپ‌تاپ آکبند</a></li>
                    <li><a class="text-decoration-none" href="#">لپ‌تاپ اپن‌باکس</a></li>
                    <li><a class="text-decoration-none" href="#">لپ‌تاپ استوک</a></li>
                    <li><a class="text-decoration-none" href="#">لپ‌تاپ گیمینگ</a></li>
                    <li><a class="text-decoration-none" href="#">لپ‌تاپ طراحی</a></li>
                    <li><a class="text-decoration-none" href="#">لپ‌تاپ مهندسی</a></li>
                    <li><a class="text-decoration-none" href="#">لپ‌تاپ دانشجویی</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-12 pt-5">
                <h3 class="h3 text-light pb-3 border-light">لینک های مفید</h3>
                <ul class="list-unstyled text-light footer-link-list px-3">
                    <li><a class="text-decoration-none" href="#">صفحه اصلی</a></li>
                    <li><a class="text-decoration-none" href="#">درباره ما</a></li>
                    <li><a class="text-decoration-none" href="#">تماس با ما</a></li>
                    <li><a class="text-decoration-none" href="#">قوانین و مقررات</a></li>
                    <li><a class="text-decoration-none" href="#">سوالات متداول</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-12 pt-5">
                <h3 class="h3 text-light pb-3 border-light">نشان اعتماد</h3>
                <ul class="list-unstyled text-light footer-link-list px-3">
                    <li><a class="text-decoration-none" href="#"><img src="./logo.aspx" alt=""></a></li>
                    <li><a class="text-decoration-none" href="#"><img src="./logo2.aspx" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto m-auto">
                <h5>ما را در شبکه های اجتماعی دنبال کنید</h5>
                <ul class="list-inline footer-icons text-center p-0">
                    <li class="list-inline-item border border-light rounded-circle text-center m-1">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i
                                class="fab fa-instagram fa-lg fa-fw" style="vertical-align: -0.2rem;"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center m-1">
                        <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i
                                class="fab fa-telegram fa-lg fa-fw" style="vertical-align: -0.2rem;"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center m-1">
                        <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i
                                class="fab fa-whatsapp fa-lg fa-fw" style="vertical-align: -0.2rem;"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-center text-light">
                        کپی رایت &copy; تمامی حقوق این وبسایت برای فروشگاه استوک لپ‌تاپ استور محفوظ است.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<!-- Start Script -->
<script src="{% static 'products/js/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'products/js/templatemo.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity=" sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>
<script type="module">
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.esm.browser.min.js';

    const swiper1 = new Swiper('#swiper-container1', {
        slidesPerView: 'auto',
        paginationClickable: true,
        spaceBetween: 0,
        navigation: {
            nextEl: '.left-slide1',
            prevEl: '.right-slide1',
        },
    });
    const swiper2 = new Swiper('#swiper-container2', {
        slidesPerView: 'auto',
        paginationClickable: true,
        spaceBetween: 0,
        navigation: {
            nextEl: '.left-slide2',
            prevEl: '.right-slide2',
        },
    });
    const swiper3 = new Swiper('#swiper-container3', {
        slidesPerView: 'auto',
        paginationClickable: true,
        spaceBetween: 0,
        navigation: {
            nextEl: '.left-slide3',
            prevEl: '.right-slide3',
        },
    });
    const swiper_detail = new Swiper('#detail-swiper-container', {
        slidesPerView: 'auto',
        paginationClickable: true,
        spaceBetween: 0,
        navigation: {
            nextEl: '.detail-left-slide',
            prevEl: '.detail-right-slide',
        },
    });
</script>
<script>
    const one_star = document.getElementById('1star')
    const two_star = document.getElementById('2star')
    const three_star = document.getElementById('3star')
    const four_star = document.getElementById('4star')
    const five_star = document.getElementById('5star')

    const handleSelect = (selection) => {
        switch (selection) {
            case '1star': {
                one_star.classList.add('text-warning')
                two_star.classList.remove('text-warning')
                three_star.classList.remove('text-warning')
                four_star.classList.remove('text-warning')
                five_star.classList.remove('text-warning')
                return
            }
            case '2star': {
                one_star.classList.add('text-warning')
                two_star.classList.add('text-warning')
                three_star.classList.remove('text-warning')
                four_star.classList.remove('text-warning')
                five_star.classList.remove('text-warning')
                return
            }
            case '3star': {
                one_star.classList.add('text-warning')
                two_star.classList.add('text-warning')
                three_star.classList.add('text-warning')
                four_star.classList.remove('text-warning')
                five_star.classList.remove('text-warning')
                return
            }
            case '4star': {
                one_star.classList.add('text-warning')
                two_star.classList.add('text-warning')
                three_star.classList.add('text-warning')
                four_star.classList.add('text-warning')
                five_star.classList.remove('text-warning')
                return
            }
            case '5star': {
                one_star.classList.add('text-warning')
                two_star.classList.add('text-warning')
                three_star.classList.add('text-warning')
                four_star.classList.add('text-warning')
                five_star.classList.add('text-warning')
                return
            }
        }
    }
    const arr = [one_star, two_star, three_star, four_star, five_star]
    arr.forEach(item=> item.addEventListener('mouseover', (event)=> {
        handleSelect(event.target.id)
    }))
</script>
<!-- End Script -->
</body>

</html>