{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block title %}
    پیش فاکتور | استوک لپ تاپ استور
{% endblock %}

{% block css_link %}
    <link rel="stylesheet" href="{% static 'orders/css/order.css' %}">
{% endblock %}

{% block content %}
    <section class="h-100 bg-light">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                    <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                        <div class="card-body p-0">
                            <div class="row g-0">
                                <div class="col-lg-8">
                                    <div class="p-5">
                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <h2 class="fw-bold mb-0 order-head">پیش فاکتور</h2>
                                        </div>
                                        <hr class="my-4">
                                        <div class="row my-4 pre-factor">
                                            <div class="my-2 col-12 col-md-6 d-flex align-items-center">
                                                <h6 class="text-muted m-0 text-nowrap">نام و نام خانوادگی: </h6>
                                                <h6 class="mb-0 me-1 text-gray">{{ order.address.full_name }}</h6>
                                            </div>
                                            <div class="my-2 col-12 col-md-6 d-flex align-items-center">
                                                <h6 class="text-muted m-0 text-nowrap">شماره تماس: </h6>
                                                <h6 class="mb-0 me-1 text-gray">{{ order.address.phone_number }}</h6>
                                            </div>
                                            <div class="my-2 col-12 col-md-6 d-flex align-items-center">
                                                <h6 class="text-muted m-0 text-nowrap">تاریخ: </h6>
                                                <h6 class="mb-0 me-1 text-gray">{{ order.j_updated }}</h6>
                                            </div>
                                            <div class="my-2 col-12 col-md-6 d-flex align-items-center">
                                                <h6 class="text-muted m-0 text-nowrap">وضعیت پرداخت: </h6>
                                                {% if order.paid %}
                                                    <h6 class="mb-0 me-1 text-gray">پرداخت شده</h6>
                                                {% else %}
                                                    <h6 class="mb-0 me-1 text-gray">پرداخت نشده</h6>
                                                {% endif %}
                                            </div>
                                            <div class="my-2 col-12 d-flex align-items-center">
                                                <h6 class="text-muted m-0 text-nowrap">آدرس: </h6>
                                                <h6 class="mb-0 me-1 text-gray">{{ order.address.full_address }}</h6>
                                            </div>

                                        </div>
                                        <div class="table-factor">
                                            <table class="table table-bordered text-gray">
                                            <thead>
                                            <tr>
                                                <th scope="col"><h6 class="m-0">ردیف</h6></th>
                                                <th scope="col"><h6 class="m-0">محصول</h6></th>
                                                <th scope="col"><h6 class="m-0">رنگ</h6></th>
                                                <th scope="col"><h6 class="m-0">قیمت واحد</h6></th>
                                                <th scope="col"><h6 class="m-0">تعداد</h6></th>
                                                <th scope="col"><h6 class="m-0">قیمت کل</h6></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in order.items.all %}
                                                <tr>
                                                    <th scope="row"><h6 class="m-0">{{ forloop.counter }}</h6></th>
                                                    <td><p class="m-0">{{ item.product }}</p></td>
                                                    <td><p class="m-0">{{ item.color }}</p></td>
                                                    <td><p class="m-0">{{ item.price|intcomma }} تومان</p></td>
                                                    <td><p class="m-0">{{ item.quantity }}</p></td>
                                                    <td><p class="m-0">{{ item.get_cost|intcomma }} تومان</p></td>
                                                </tr>
                                            {% endfor %}
                                            <tr>
                                                <th scope="row"><h6 class="m-0 text-nowrap">جمع فاکتور</h6></th>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><p class="m-0">{{ order.get_total_cost|intcomma }} تومان</p></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 rounded-left cart-summary">
                                    <div class="p-5 mt-5 text-start">
                                        <h4 class="text-end mt-3">کد تخفیف</h4>
                                        <form action="{% url 'orders:coupon' order.id %}" method="post">
                                            {% csrf_token %}
                                            <div class="d-flex input-group">
                                                <input type="text" name="code" class="form-control w-75 rounded">
                                                <button class="btn btn-buy rounded" type="submit">اعمال</button>
                                            </div>
                                        </form>
                                        <hr class="mb-4">
                                        <div class="d-flex justify-content-between mb-3">
                                            <h6 class="text-uppercase">مبلغ قابل پرداخت</h6>
                                            <h6>{{ order.get_total_cost|intcomma }} تومان</h6>
                                        </div>
                                        <a href="{% url 'orders:order-pay' order.id %}" type="submit"
                                           class="btn btn-buy btn-lg w-100"
                                           data-mdb-ripple-color="dark">پرداخت
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}