
<div class="offcanvas-md offcanvas-end col-lg-3 col-md-4 col-sm-6 border rounded h-100" tabindex="-1"
     id="filterOffcanvasRight" aria-labelledby="filterOffcanvasRightLabel">
    <div class="offcanvas-header d-md-none d-block text-start">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <form action="{% url 'product:list' %}?{{ data }}" method="get">
        <div class="d-flex justify-content-between align-items-baseline pt-3 pb-2">
            <b><i class="fa fa-filter"></i> فیلتر</b>
            {% if request.GET.urlencode and 'sort=' not in data %}
                <a href="{% url 'product:list' %}" class="text-decoration-none text-link"
                   style="font-size: 13px !important;">حذف فیلترها</a>
            {% endif %}
        </div>
        {% if 'im=True' in data %}
            <a class="mt-3 pb-2 border-bottom text-decoration-none d-flex align-items-baseline" href="{% url 'product:list' %}?{{ data_na }}">
                <div class="switch-available">
            <span class="slider"></span>
        </div>
            <p class="me-2 display6 text-grey">فقط کالاهای موجود</p>
            </a>
        {% else %}
            <a class="mt-3 pb-2 border-bottom text-decoration-none d-flex align-items-baseline" href="{% url 'product:list' %}?{{ data }}&im=True">
                <div class="switch-available" id="switch-not-available">
            <span class="slider"></span>
        </div>
            <p class="me-2 display6 text-grey">فقط کالاهای موجود</p>
            </a>
        {% endif %}
        <div class="accordion accordion-flush filter-form-accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item py-3">
                <div class="accordion-header" id="panelsStayOpen-heading1">
                    <div class="d-flex justify-content-between align-items-baseline collapsed" type="button"
                         data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse1" aria-expanded="false"
                         aria-controls="panelsStayOpen-collapse1">
                        <p class="m-0">
                            بر اساس قیمت
                        </p>
                        <i class="fa fa-angle-down mx-2" aria-hidden="true"></i>
                    </div>
                </div>
                <div id="panelsStayOpen-collapse1"
                     class="accordion-collapse collapse {% if 'pg=' in data or 'pl=' in data %}show{% endif %}"
                     aria-labelledby="panelsStayOpen-heading1">
                    <div class="accordion-body pb-0">
                        <div class="price-range">
                            <div class="container">
                                <div class="slider-track"></div>
                                <input type="range" name="pg" value="{{ min_val_price|stringformat:'s' }}" step="1"
                                       oninput="slideOne()" max="{{ max_price|stringformat:'s' }}"
                                       min="{{ min_price|stringformat:'s' }}" id="slider-1">
                                <input type="range" name="pl" value="{{ max_val_price|stringformat:'s' }}" step="1"
                                       oninput="slideTwo()" max="{{ max_price|stringformat:'s' }}"
                                       min="{{ min_price|stringformat:'s' }}" id="slider-2">
                            </div>
                            <div class="values d-flex justify-content-between">
                                <div>
                                <span id="range1">
                                      {{ min_price|pprint }}
                                </span>
                                    <span>تومان</span>
                                </div>
                                <div>
                                <span id="range2">
                                      {{ max_price|pprint }}
                                </span>
                                    <span>تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item py-3">
                <div class="accordion-header" id="panelsStayOpen-heading2">
                    <div class="d-flex justify-content-between align-items-baseline collapsed" type="button"
                         data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse2" aria-expanded="false">
                        <p class="m-0">
                            شرکت سازنده
                        </p>
                        <i class="fa fa-angle-down mx-2" aria-hidden="true"></i>
                    </div>
                </div>
                <div id="panelsStayOpen-collapse2"
                     class="accordion-collapse collapse {% if 'br=' in data %}show{% endif %}"
                     aria-labelledby="panelsStayOpen-heading2">
                    <div class="accordion-body pb-0">
                        {{ filter.form.br }}
                    </div>
                </div>
            </div>
            <div class="accordion-item py-3">
                <div class="accordion-header" id="panelsStayOpen-heading3">
                    <div class="d-flex justify-content-between align-items-baseline collapsed" type="button"
                         data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse3" aria-expanded="false"
                         aria-controls="panelsStayOpen-collapse3">
                        <p class="m-0">
                            گرید
                        </p>
                        <i class="fa fa-angle-down mx-2" aria-hidden="true"></i>
                    </div>
                </div>
                <div id="panelsStayOpen-collapse3"
                     class="accordion-collapse collapse {% if 'gr=' in data %}show{% endif %}"
                     aria-labelledby="panelsStayOpen-heading3">
                    <div class="accordion-body pb-0">
                        <div id="id_gr">
                            <div>
                                <label for="id_gr_0"><input type="checkbox" name="gr" value="n" id="id_gr_0"
                                                            {% if 'gr=n' in data %}checked=""{% endif %}>
                                    آکبند</label>

                            </div>
                            <div>
                                <label for="id_gr_1"><input type="checkbox" name="gr" value="o" id="id_gr_1"
                                                            {% if 'gr=o' in data %}checked=""{% endif %}>
                                    اپن باکس</label>

                            </div>
                            <div>
                                <label for="id_gr_2"><input type="checkbox" name="gr" value="s" id="id_gr_2"
                                                            {% if 'gr=s' in data %}checked=""{% endif %}>
                                    استوک</label>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item py-3">
                <div class="accordion-header" id="panelsStayOpen-heading4">
                    <div class="d-flex justify-content-between align-items-baseline collapsed" type="button"
                         data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse4" aria-expanded="false"
                         aria-controls="panelsStayOpen-collapse4">
                        <p class="m-0">
                            رده کاری
                        </p>
                        <i class="fa fa-angle-down mx-2" aria-hidden="true"></i>
                    </div>
                </div>
                <div id="panelsStayOpen-collapse4"
                     class="accordion-collapse collapse {% if 'ca=' in data %}show{% endif %}"
                     aria-labelledby="panelsStayOpen-heading4">
                    <div class="accordion-body pb-0">
                        {{ filter.form.ca }}
                    </div>
                </div>
            </div>
            <div class="accordion-item py-3">
                <div class="accordion-header" id="panelsStayOpen-heading5">
                    <div class="d-flex justify-content-between align-items-baseline collapsed" type="button"
                         data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse5" aria-expanded="false"
                         aria-controls="panelsStayOpen-collapse5">
                        <p class="m-0">
                            اندازه صفحه نمایش
                        </p>
                        <i class="fa fa-angle-down mx-2" aria-hidden="true"></i>
                    </div>
                </div>
                <div id="panelsStayOpen-collapse5"
                     class="accordion-collapse collapse {% if 'sz=' in data %}show{% endif %}"
                     aria-labelledby="panelsStayOpen-heading5">
                    <div class="accordion-body pb-0">
                        {{ filter.form.sz }}
                    </div>
                </div>
            </div>
            <div class="accordion-item py-3">
                <div class="accordion-header" id="panelsStayOpen-heading6">
                    <div class="d-flex justify-content-between align-items-baseline collapsed" type="button"
                         data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse6" aria-expanded="false"
                         aria-controls="panelsStayOpen-collapse6">
                        <p class="m-0">
                            سری پردازنده
                        </p>
                        <i class="fa fa-angle-down mx-2" aria-hidden="true"></i>
                    </div>
                </div>
                <div id="panelsStayOpen-collapse6"
                     class="accordion-collapse collapse {% if 'cs=' in data %}show{% endif %}"
                     aria-labelledby="panelsStayOpen-heading6">
                    <div class="accordion-body pb-0">
                        {{ filter.form.cs }}
                    </div>
                </div>
            </div>
            <div class="accordion-item py-3">
                <div class="accordion-header" id="panelsStayOpen-heading7">
                    <div class="d-flex justify-content-between align-items-baseline collapsed" type="button"
                         data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse7" aria-expanded="false"
                         aria-controls="panelsStayOpen-collapse7">
                        <p class="m-0">
                            سازنده پردازنده گرافیکی
                        </p>
                        <i class="fa fa-angle-down mx-2" aria-hidden="true"></i>
                    </div>
                </div>
                <div id="panelsStayOpen-collapse7"
                     class="accordion-collapse collapse {% if 'gm=' in data %}show{% endif %}"
                     aria-labelledby="panelsStayOpen-heading7">
                    <div class="accordion-body pb-0">
                        {{ filter.form.gm }}
                    </div>
                </div>
            </div>
            <div class="accordion-item py-3">
                <div class="accordion-header" id="panelsStayOpen-heading8">
                    <div class="d-flex justify-content-between align-items-baseline collapsed" type="button"
                         data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse8" aria-expanded="false"
                         aria-controls="panelsStayOpen-collapse8">
                        <p class="m-0">
                            حافظه اختصاصی گرافیکی
                        </p>
                        <i class="fa fa-angle-down mx-2" aria-hidden="true"></i>
                    </div>
                </div>
                <div id="panelsStayOpen-collapse8"
                     class="accordion-collapse collapse {% if 'gc=' in data %}show{% endif %}"
                     aria-labelledby="panelsStayOpen-heading8">
                    <div class="accordion-body pb-0">
                        <div class="id_gme">
                            {% for value in filter.form.gc %}
                                {% if value.data.label != None %}
                                    <div>
                                        {{ value }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item py-3">
                <div class="accordion-header" id="panelsStayOpen-heading9">
                    <div class="d-flex justify-content-between align-items-baseline collapsed" type="button"
                         data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse9" aria-expanded="false"
                         aria-controls="panelsStayOpen-collapse9">
                        <p class="m-0">
                            حافظه رم
                        </p>
                        <i class="fa fa-angle-down mx-2" aria-hidden="true"></i>
                    </div>
                </div>
                <div id="panelsStayOpen-collapse9"
                     class="accordion-collapse collapse {% if 'rc=' in data %}show{% endif %}"
                     aria-labelledby="panelsStayOpen-heading9">
                    <div class="accordion-body pb-0">
                        <div class="id_rc">
                            {% for value in filter.form.rc %}
                                {% if value.data.label != None %}
                                    <div>
                                        {{ value }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item py-3">
                <div class="accordion-header" id="panelsStayOpen-heading10">
                    <div class="d-flex justify-content-between align-items-baseline collapsed" type="button"
                         data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse10" aria-expanded="false"
                         aria-controls="panelsStayOpen-collapse10">
                        <p class="m-0">
                            ظرفیت هارد دیسک
                        </p>
                        <i class="fa fa-angle-down mx-2" aria-hidden="true"></i>
                    </div>
                </div>
                <div id="panelsStayOpen-collapse10"
                     class="accordion-collapse collapse {% if 'sc=' in data %}show{% endif %}"
                     aria-labelledby="panelsStayOpen-heading10">
                    <div class="accordion-body pb-0">
                        <div class="id_sc">
                            {% for value in filter.form.sc %}
                                {% if value.data.label != None %}
                                    <div>
                                        {{ value }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-3">
            <button type="submit" class="btn btn-buy w-100">اعمال فیلتر</button>
        </div>
        <div class="d-none">
            {% if  filter.form.sort.data != None %}
                {{ filter.form.sort }}
            {% endif %}
            {{ filter.form.di }}
        </div>
    </form>
</div>
