{% load humanize %}

<div class="offcanvas-md offcanvas-end col-lg-3 col-md-4 col-sm-6 border rounded h-100" tabindex="-1" id="filterOffcanvasRight" aria-labelledby="filterOffcanvasRightLabel">
   <div class="offcanvas-header d-md-none d-block text-start">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
    <form action="" method="get">
        <div class="d-flex justify-content-between align-items-baseline pt-3 pb-2">
            <b><i class="fa fa-filter"></i> فیلتر</b>
            {% if request.GET.urlencode %}
                <a href="{% url 'product:list' %}" class="text-decoration-none text-link">حذف فیلترها</a>
            {% endif %}
        </div>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item pt-3">
                <div class="accordion-header" id="flush-heading1">
                    <div class="d-flex justify-content-between align-items-baseline collapsed" type="button"
                         data-bs-toggle="collapse" data-bs-target="#flush-collapse1" aria-expanded="false"
                         aria-controls="flush-collapse1">
                        <p>
                            بر اساس قیمت
                        </p>
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </div>
                </div>
                <div id="flush-collapse1" class="accordion-collapse collapse" aria-labelledby="flush-heading1"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <label for="price"></label>
                        <div class="price-range">
                            <div class="container">
                                <div class="slider-track"></div>
                                <input type="range" name="pg" value="{{ min_price|intcomma }}" step="1"
                                       oninput="slideOne()" max="{{ max_price|intcomma }}"
                                       min="{{ min_price|intcomma }}" id="slider-1">
                                <input type="range" name="pl" value="{{ max_price|intcomma }}" step="1"
                                       oninput="slideTwo()" max="{{ max_price|intcomma }}"
                                       min="{{ min_price|intcomma }}" id="slider-2">
                            </div>
                            <div class="values d-flex justify-content-between">
                                <div>
                                <span id="range1">
                                      {{ min_price|intcomma }}
                                </span>
                                    <span>تومان</span>
                                </div>
                                <div>
                                <span id="range2">
                                      {{ max_price|intcomma }}
                                </span>
                                    <span>تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item pt-3">
                <div class="accordion-header" id="flush-heading2">
                    <div class="d-flex justify-content-between align-items-baseline collapsed" type="button"
                         data-bs-toggle="collapse" data-bs-target="#flush-collapse2" aria-expanded="false"
                         aria-controls="flush-collapse2">
                        <p>
                            شرکت سازنده
                        </p>
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </div>
                </div>
                <div id="flush-collapse2" class="accordion-collapse collapse" aria-labelledby="flush-heading2"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        {{ filter.form.b|title }}
                    </div>
                </div>
            </div>
            <div class="accordion-item pt-3">
                <div class="accordion-header" id="flush-heading3">
                    <div class="d-flex justify-content-between align-items-baseline collapsed" type="button"
                         data-bs-toggle="collapse" data-bs-target="#flush-collapse3" aria-expanded="false"
                         aria-controls="flush-collapse3">
                        <p>
                            گرید
                        </p>
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </div>
                </div>
                <div id="flush-collapse3" class="accordion-collapse collapse" aria-labelledby="flush-heading3"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div id="id_g">
                            <div><label for="id_g_0"><input type="checkbox" name="g" value="n" id="id_g_0">
                                آکبند</label></div>
                            <div><label for="id_g_1"><input type="checkbox" name="g" value="o" id="id_g_1">
                                اپن باکس</label></div>
                            <div><label for="id_g_2"><input type="checkbox" name="g" value="s" id="id_g_2">
                                استوک</label></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item pt-3">
                <div class="accordion-header" id="flush-heading4">
                    <div class="d-flex justify-content-between align-items-baseline collapsed" type="button"
                         data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false"
                         aria-controls="flush-collapse4">
                        <p>
                            رده کاری
                        </p>
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </div>
                </div>
                <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="flush-heading4"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        {{ filter.form.category }}
                    </div>
                </div>
            </div>
            <div class="accordion-item pt-3">
                <div class="accordion-header" id="flush-heading5">
                    <div class="d-flex justify-content-between align-items-baseline collapsed" type="button"
                         data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false"
                         aria-controls="flush-collapse5">
                        <p>
                            اندازه صفحه نمایش
                        </p>
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </div>
                </div>
                <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="flush-heading5"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        {{ filter.form.sz }}
                    </div>
                </div>
            </div>
            <div class="accordion-item pt-3">
                <div class="accordion-header" id="flush-heading6">
                    <div class="d-flex justify-content-between align-items-baseline collapsed" type="button"
                         data-bs-toggle="collapse" data-bs-target="#flush-collapse6" aria-expanded="false"
                         aria-controls="flush-collapse6">
                        <p>
                            سری پردازنده
                        </p>
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </div>
                </div>
                <div id="flush-collapse6" class="accordion-collapse collapse" aria-labelledby="flush-heading6"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        {{ filter.form.cs|title }}
                    </div>
                </div>
            </div>
            <div class="accordion-item pt-3">
                <div class="accordion-header" id="flush-heading7">
                    <div class="d-flex justify-content-between align-items-baseline collapsed" type="button"
                         data-bs-toggle="collapse" data-bs-target="#flush-collapse7" aria-expanded="false"
                         aria-controls="flush-collapse7">
                        <p>
                            سازنده پردازنده گرافیکی
                        </p>
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </div>
                </div>
                <div id="flush-collapse7" class="accordion-collapse collapse" aria-labelledby="flush-heading7"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        {{ filter.form.gm|title }}
                    </div>
                </div>
            </div>
            <div class="accordion-item pt-3">
                <div class="accordion-header" id="flush-heading8">
                    <div class="d-flex justify-content-between align-items-baseline collapsed" type="button"
                         data-bs-toggle="collapse" data-bs-target="#flush-collapse8" aria-expanded="false"
                         aria-controls="flush-collapse8">
                        <p>
                            حافظه اختصاصی گرافیکی
                        </p>
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </div>
                </div>
                <div id="flush-collapse8" class="accordion-collapse collapse" aria-labelledby="flush-heading8"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        {{ filter.form.gme|default_if_none:"" }}
                    </div>
                </div>
            </div>
            <div class="accordion-item pt-3">
                <div class="accordion-header" id="flush-heading9">
                    <div class="d-flex justify-content-between align-items-baseline collapsed" type="button"
                         data-bs-toggle="collapse" data-bs-target="#flush-collapse9" aria-expanded="false"
                         aria-controls="flush-collapse9">
                        <p>
                            حافظه رم
                        </p>
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </div>
                </div>
                <div id="flush-collapse9" class="accordion-collapse collapse" aria-labelledby="flush-heading9"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        {{ filter.form.rc }}
                    </div>
                </div>
            </div>
            <div class="accordion-item pt-3">
                <div class="accordion-header" id="flush-heading10">
                    <div class="d-flex justify-content-between align-items-baseline collapsed" type="button"
                         data-bs-toggle="collapse" data-bs-target="#flush-collapse10" aria-expanded="false"
                         aria-controls="flush-collapse10">
                        <p>
                            ظرفیت هارد دیسک
                        </p>
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </div>
                </div>
                <div id="flush-collapse10" class="accordion-collapse collapse" aria-labelledby="flush-heading10"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        {{ filter.form.sc|default_if_none:"" }}
                    </div>
                </div>
            </div>
        </div>
        <div class="py-3">
            <button type="submit" class="btn btn-buy w-100">اعمال فیلتر</button>
        </div>
        <div class="d-none">
            {{ filter.form.sort }}
        </div>
    </form>
</div>

