{% load base_tags %}

<div class="d-md-none d-flex me-3 mb-3">
<b type="button" data-bs-toggle="offcanvas" data-bs-target="#filterOffcanvasRight"
        aria-controls="filterOffcanvasRight"><i class="fa fa-filter"></i> فیلتر</b>
<b class="me-5" type="button" data-bs-toggle="offcanvas" data-bs-target="#sortOffcanvasBottom" aria-controls="sortOffcanvasBottom"><i class="fa fa-sort-amount-down"></i> مرتب سازی </b>
</div>

<div class="offcanvas-md offcanvas-bottom rounded-top d-flex sort-list text-nowrap" tabindex="-1" id="sortOffcanvasBottom" aria-labelledby="sortOffcanvasBottomLabel">
  <div class="offcanvas-header d-md-none d-flex">
    <h5 class="offcanvas-title" id="sortOffcanvasBottomLabel"><b>مرتب سازی براساس:</b></h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
    <b class="d-md-block d-none"><i class="fa fa-sort-amount-down"></i> مرتب سازی: </b>
    <form class="flex-column flex-md-row d-flex">
        {% sort_input request 4 'جدید ترین' %}
        {% sort_input request 8 'پرفروش ترین' %}
        {% sort_input request 6 'محبوب ترین' %}
        {% sort_input request 1 'گران ترین' %}
        {% sort_input request 2 'ارزان ترین' %}
        <div class="d-none">
            {{ filter.form.pg }}
            {{ filter.form.pl }}
            {{ filter.form.b }}
            {{ filter.form.g }}
            {{ filter.form.category }}
            {{ filter.form.sz }}
            {{ filter.form.cs }}
            {{ filter.form.gm }}
            {{ filter.form.gme }}
            {{ filter.form.rc }}
            {{ filter.form.sc }}
        </div>
    </form>
</div>
