{% load base_tags %}

<div class="d-md-none d-flex me-3 mb-3">
<b type="button" data-bs-toggle="offcanvas" data-bs-target="#filterOffcanvasRight"
        aria-controls="filterOffcanvasRight"><i class="fa fa-filter"></i> فیلتر</b>
<b class="me-5" type="button" data-bs-toggle="offcanvas" data-bs-target="#sortOffcanvasBottom" aria-controls="sortOffcanvasBottom"><i class="fa fa-sort-amount-down"></i> مرتب سازی </b>
</div>

<div class="offcanvas-md offcanvas-bottom rounded-top d-flex sort-list text-nowrap" tabindex="-1" id="sortOffcanvasBottom" aria-labelledby="sortOffcanvasBottomLabel">
  <div class="offcanvas-header d-md-none d-flex">
    <h5 class="offcanvas-title" id="sortOffcanvasBottomLabel"><b>مرتب سازی براساس:</b></h5>
    <button type="button" class="btn-close text-reset h4" data-bs-dismiss="offcanvas" data-bs-target="#sortOffcanvasBottom" aria-label="Close"></button>
  </div>
    <b class="d-md-block d-none"><i class="fa fa-sort-amount-down"></i> مرتب سازی: </b>
    <form class="flex-column flex-md-row d-flex">
         <label class="text-muted me-md-3 mb-2 pb-2 sort-icon {% if 'sort=' not in data or 'sort=4' in data %}text-sorted{% endif %}"
            for="sort_4">جدید ترین<input class="d-none" type="submit" name="sort" value="4"
             id="sort_4">
        </label>
        {% sort_input request 8 'پرفروش ترین' %}
        {% sort_input request 9 'پربازدید ترین' %}
        {% sort_input request 6 'محبوب ترین' %}
        {% sort_input request 1 'گران ترین' %}
        {% sort_input request 2 'ارزان ترین' %}
        <div class="d-none">
            {% if filter.form.pg.data != None and filter.form.pl.data != None %}
                {{ filter.form.pg }}
                {{ filter.form.pl }}
            {% endif %}
            {{ filter.form.br }}
            {{ filter.form.gr }}
            {{ filter.form.ca }}
            {{ filter.form.sz }}
            {{ filter.form.cs }}
            {{ filter.form.gm }}
            {{ filter.form.gc }}
            {{ filter.form.rc }}
            {{ filter.form.sc }}
            {{ filter.form.di }}
            {{ filter.form.im }}
        </div>
    </form>
</div>
